<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer _ngcontent-hvm-c26 class="page-footer font-small cyan drken py-3">
        <div _ngcontent-hvm-c26 class="container">
            <div _ngcontent-hvm-c26 class="row"> 
 <div class="col-md-12 py5">
            <div class="mb-6 flex-center">
                <img src="./assets/images/ff.png" alt="" width="4%" height="4%">&nbsp;
                <img src="./assets/images/tw.png" alt="" width="4%" height="4%">&nbsp;
                <img src="./assets/images/in.png" alt="" width="4%" height="4%">&nbsp;
                <img src="./assets/images/wa.png" alt="" width="4%" height="4%">&nbsp;
                <img src="./assets/images/yu.jpg" alt="" width="3%" height="3%">&nbsp;

            </div>
        </div>
            </div>
        </div>
        <div _ngcontent-hvm-c26  class="footer-copyright text-center py-3">
           <h1 class="credit">Created by
               <a triggers="mouseenter" placement="top" href=" ">
                   <span>Hima Bindu</span>
               </a>
               | All Right Reserved!
               <br>
               <br>
               2021 Copyright
           </h1>
        </div>
       <!-- <div class="centerdiv">
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>-->
        </footer>
</body>
</html>