@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");

footer[_ngcontent-hvm-c26]{
    font-family: 'poppins',sans-serif;
    background-color: rgb(112, 6, 20);
    text-align: center;
}
*[_ngcontent-hvm-c26]{
    cursor: url();
    color:white;
}
footer .credit{
    font-size: 18px;
}
span{
    color: white;
}