<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="aboutus">
        <div class="container">
            <h5>ABOUT US</h5>
            <!--<h1 class="sub-title">Services</h1>-->
            <div class="card-columns py-4">
            <div class="card text-center pt3 d-flex align-item-center hvr-shadow">
                <img src="./assets/images/facialimg1.jpg" alt="faceimg" class="img-fluid" height="90px" width="90px">
                <div class="card-body">
                    <h4 class="card-title">Facial Care</h4>
                </div>
            </div>
            <div class="card text-center pt2 d-flex align-item-center hvr-shadow">
                <img src="./assets/images/hairimg.jpg" alt="hairimg" class="img-fluid" height="90px" width="90px">
                <div class="card-body">
                    <h4 class="card-title">Hair Style</h4>
                </div>
            </div>
            <div class="card text-center pt4 d-flex align-item-center hvr-shadow">
                <img src="./assets/images/nailimg.jpg" alt="nailimg" class="img-fluid" height="90px" width="90px">
                <div class="card-body">
                    <h4 class="card-title">Nail Care</h4>
                </div>
            </div>
            <div class="card text-center pt3 d-flex align-item-center hvr-shadow">
                <img src="./assets/images/markupimg.jpg" alt="mackupimg" class="img-fluid" height="80px" width="80px">
                <div class="card-body">
                    <h4 class="card-title">Make Up</h4>
                </div>
            </div>
            <div class="card text-center pt2 d-flex align-item-center hvr-shadow">
                <img src="./assets/images/bodyimg.jpg" alt="bodymimg" class="img-fluid" height="130px" width="130px">
                <div class="card-body">
                    <h4 class="card-title">Body Massage</h4>
                </div>
            </div>
            <div class="card text-center  d-flex align-item-center hvr-shadow">
                <img src="./assets/images/waxingimg1.jpg" alt="waxingimg" class="img-fluid" height="100px" width="100px">
                <div class="card-body">
                    <h4 class="card-title">Waxing</h4>
                </div>
            </div>
        </div>
        <p>Beauty parlour is a service oriented establishment in which women 
            receive treatment to increase their beauty. Skin care, facial make up, 
            hair nourishment and model hair cutting are the most important 
            nourishing activities of a beauty parlour. The use of machinery, 
            ayurvedic formulations and approved synthetic chemicals and medicines 
            vary from person to person as per need. In present project the provision 
            of different beauty therapy are present with use of limited number of 
            machinery.</p>
        <!--<p>
            Curabitur non nulla sit tempus convallis quis ac lectus.Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;Donec neque,auctor sit amet aliquam vel,ullamcorper sit amet ligula.
        </p>
        -->
        <h1 class="sub-title text-center my-4 my-md-0">Make Beauty</h1>
        <div class="card-deck my-4 py-4">
            <div class="mx-auto mx-md-3 card bridal col-9 col-sm-4 col-md-5 col-lg-3 hvr-shrink">
                <!--first image-->
            </div>
            <div class="mx-auto mx-md-3 card face col-9 col-sm-4 col-md-5 col-lg-3 hvr-shrink">
                <!--second image-->
            </div>
        <div class="mx-auto mx-md-3 card hair-style col-9 col-sm-4 col-md-5 col-lg-3 hvr-shrink">
            <!--third image-->
        </div>
            <div class="mx-auto mx-md-3 card body-massage col-9 col-sm-4 col-md-5 col-lg-3 hvr-shrink">
                <!--fourth image-->
            </div>
<p class="border-left pl-4">Present sapien massa,Convallis a pellentesque nec,egestas non nisi.Nulla porttitor accumsan tincidunt.Lorem ipsum dolor sit amet,consectetur adipiscing elit.Quisque velit nisi,pretium ut lacinia in, elementum id enim.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.Proin eget tortor risus.Curbitur aliquet quam id dui posuere blandit.Quisque velit nisi,pretium ut lacinia in,elementum id enim</p>
</div>       

           <div class="card-footer ">
            <a href="https://en.wikipedia.org/wiki/Beauty_salon" class="btn btn-info">more info</a>
        </div>
    </div>
    
</section>
</body>
</html>
