<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
     <!--<img src="./assets/images/contactimg.jpg" alt="bi" width="50%" height="100%">-->
    <div class="container">
       <div class="row">
           <div class="col-md-6"></div>
           <div class="col-md-6">
               <div class="container">
                   <section id="google-map">
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30614.724119773728!2d81.67259924079093!3d16.432924286829934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37d9c2583a3cf9%3A0x41538ba777949708!2sNarsapur%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1638106238748!5m2!1sen!2sin" width="100%" height="750%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30614.724119773728!2d81.67259924079093!3d16.432924286829934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37d9c2583a3cf9%3A0x41538ba777949708!2sNarsapur%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1638106238748!5m2!1sen!2sin" width="500px" height="350px" style="border:0;" allowfullscreen=""></iframe>  
                </section><br>
                 <br>
                   <h3>CONTACT US</h3><hr>

                   <p>Email Id : Binduhb@gmail.com</p>
                   <p>Contact : +91 5678943201</p>
                   <p>Address : Narsapur</p>
                   <p>Office Hours : 10:00 am to 7:00 pm</p>
               </div>
           </div>
       </div>
   </div>
    <router-outlet></router-outlet>
 </body>
</html>
