<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body>
    <section>
        <div class="box">
            <div class="form">
                <h2>Login</h2>
                <form #ref="ngForm" (ngSubmit)="sendData(ref.value)">
                    <div class="inputBx">
                        <input type="text" name="un" class="form-control" placeholder="Username" ngModel>
                        <img src="./assets/images/useloginimg.png" width="30px" height="30px">
                    </div>
                    <div class="inputBx">
                        <input type="password"  name="pw" class="form-control" placeholder="password" ngModel>
                        <img src="./assets/images/passimg.png" width="30px" height="30px">
                    </div>
                    <div class="inputBx">
                        <input type="submit" routerLink="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <router-outlet></router-outlet>
</body>
</html>
